<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Safecast API</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/bgeigie-map.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">SAFECAST</div>
            <nav id="auth-nav">
                <a href="#" id="signin-link">SIGN IN</a>
                <a href="#" id="register-link">REGISTER</a>
            </nav>
             <div id="user-info" class="hidden">
                Welcome, <span id="user-email"></span>!
                <button id="logout-button">Logout</button>
            </div>
            <div id="upload-btn-wrapper" class="hidden">
                <button id="upload-btn">Upload Data</button>
            </div>
        </header>
        <div class="main-content">
            <aside>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#users">Users</a></li>
                    <li><a href="#measurements">Measurements</a></li>
                    <li><a href="#bgeigie-imports">bGeigie Imports</a></li>
                    <li><a href="#devices">Devices</a></li>
                    <li><a href="#device-stories">Device Stories</a></li>
                    <li><a href="#radiation-index">Radiation Index</a></li>
                    <li><a href="#ingest-export">Ingest/Export</a></li>
                </ul>
            </aside>
            <main>
            </main>
        </div>
    </div>

    <!-- Modals for Login/Signup -->
    <div id="login-modal" class="modal hidden">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Login</h2>
            <form id="login-form">
                <input type="email" id="login-email" name="username" placeholder="Email" required>
                <input type="password" id="login-password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <div id="signup-modal" class="modal hidden">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Sign Up</h2>
            <form id="signup-form">
                <input type="text" id="signup-name" placeholder="Name (optional)">
                <input type="email" id="signup-email" placeholder="Email" required>
                <input type="password" id="signup-password" placeholder="Password" required>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>
